<div class="ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">
            <svg width="78" height="78" viewBox="0 0 78 78" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g filter="url(#filter0_d_716_2114)">
                    <circle cx="39" cy="35" r="35" fill="#FF9700" />
                </g>
                <ellipse cx="38.7635" cy="35.4605" rx="28.1419" ry="27.6316" fill="#FFF3F3" />
                <path d="M65.723 32.6974C65.723 46.3352 54.1007 58.0263 38.8819 58.0263C23.663 58.0263 12.5135 45.6595 12.5135 32.0216C12.5135 18.3837 23.6575 7.82895 38.8763 7.82895C54.0951 7.82895 65.222 18.7401 65.723 32.6974Z" fill="#FC9D1C" />
                <path d="M17.7162 11.9737L18.141 13.2465H19.5155L18.4035 14.0332L18.8282 15.3061L17.7162 14.5194L16.6042 15.3061L17.0289 14.0332L15.9169 13.2465H17.2915L17.7162 11.9737Z" fill="#003765" />
                <path d="M60.2838 11.0526L60.7085 12.3255H62.0831L60.9711 13.1122L61.3958 14.385L60.2838 13.5984L59.1718 14.385L59.5965 13.1122L58.4845 12.3255H59.859L60.2838 11.0526Z" fill="#003765" />
                <path d="M39 1.38158L39.7433 3.6091H42.1488L40.2027 4.98577L40.9461 7.21328L39 5.83661L37.054 7.21328L37.7973 4.98577L35.8512 3.6091H38.2567L39 1.38158Z" fill="#003765" />
                <path d="M25.2838 5.52631L25.8147 7.11739L27.5329 7.11739L26.1429 8.10073L26.6738 9.69181L25.2838 8.70847L23.8937 9.69181L24.4247 8.10073L23.0347 7.11739L24.7528 7.11739L25.2838 5.52631Z" fill="#003765" />
                <path d="M52.2433 5.06579L52.7742 6.65687H54.4924L53.1023 7.64021L53.6333 9.23129L52.2433 8.24795L50.8532 9.23129L51.3842 7.64021L49.9941 6.65687H51.7123L52.2433 5.06579Z" fill="#003765" />
                <path d="M17.7731 48.1242L24.8557 54.4815V34.0566L28.2748 42.6787L31.4497 34.0566L30.717 56.6514C33.1593 56.6514 35.3573 58.0263 38.5323 58.0263L37.8206 7.92576C34.9244 7.92285 33.3525 8.31741 30.7898 8.96066L30.717 8.97892L28.2748 28.838L23.6228 11.7069C23.6228 11.7069 17.0405 18.0877 17.7731 19.2693V48.1242Z" fill="#FFF8F8" />
                <path d="M46.8359 56.6514L39.0207 58.0263L39.5092 33.4487L39.0207 7.92576C47.057 6.77733 58.5088 16.1743 60.7568 18.7355C60.7568 18.7355 59.6332 36.2501 60.7568 36.4334H46.8359V56.6514Z" fill="#FFF8F8" />
                <path d="M53.1892 28.0921H46.0946V14.7368C49.6419 16.3544 51.1622 17.5097 53.1892 19.6474V28.0921Z" fill="#FC9D1C" />
                <path d="M64.0135 32.9235C64.0135 46.1246 52.7382 57.0263 38.7559 57.0263C24.8272 57.0263 13.5135 45.1373 13.5135 31.8836C13.5135 18.7212 25.4353 7.9079 39.4589 7.9079C53.3595 7.9079 64.0135 19.6408 64.0135 32.9235Z" stroke="#FC9D1C" stroke-width="2" />
                <defs>
                    <filter id="filter0_d_716_2114" x="0" y="0" width="78" height="78" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                        <feFlood flood-opacity="0" result="BackgroundImageFix" />
                        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha" />
                        <feOffset dy="4" />
                        <feGaussianBlur stdDeviation="2" />
                        <feComposite in2="hardAlpha" operator="out" />
                        <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0" />
                        <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_716_2114" />
                        <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_716_2114" result="shape" />
                    </filter>
                </defs>
            </svg>
            <span class="project-name">
                Multi Pac Ltd.
            </span>
        </a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <div class="nav-link" >
                <svg width="22" height="27" viewBox="0 0 22 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M11 21.75V25.5M5.99999 21.75H16C17.0606 21.7458 18.0924 21.4045 18.9463 20.7753C19.8001 20.1462 20.4318 19.2618 20.75 18.25C21.0659 17.222 21.0419 16.1195 20.6816 15.1062C20.3214 14.093 19.644 13.2228 18.75 12.625C20 11.25 20 9.25 19.25 7.625C18.375 6.125 16.5 5.125 14.75 5.5C14.75 4.50544 14.3549 3.55161 13.6516 2.84835C12.9484 2.14509 11.9946 1.75 11 1.75C10.0054 1.75 9.0516 2.14509 8.34834 2.84835C7.64508 3.55161 7.24999 4.50544 7.24999 5.5C5.49999 5.25 3.62499 6.125 2.74999 7.625C1.87499 9.25 2.12499 11.25 3.24999 12.625C2.35602 13.2228 1.67863 14.093 1.31835 15.1062C0.958062 16.1195 0.934092 17.222 1.24999 18.25C1.56817 19.2618 2.19985 20.1462 3.05371 20.7753C3.90757 21.4045 4.93938 21.7458 5.99999 21.75Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                <span class="ms-3">Raw Materials</span>
            </div>
        </div> 
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Report">
                <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M25.8946 17.3275L25.0738 18.4434C24.5253 19.1892 21.7891 23.0241 21.7891 25.2839C21.7891 27.8844 23.6307 30 25.8945 30C28.1582 30 30 27.8844 30 25.2839C30 23.0241 27.2638 19.1892 26.7152 18.4434L25.8946 17.3275ZM25.8946 27.717C24.7894 27.717 23.8902 26.6255 23.8902 25.2839C23.8902 24.4519 24.907 22.5813 25.8949 21.0605C26.8826 22.58 27.899 24.4499 27.899 25.2839C27.899 26.6255 26.9997 27.717 25.8946 27.717Z" fill="white" />
                    <path d="M6.87857 0L5.13622 5.20142L0.799996 3.26127L0 5.37264L4.41699 7.34883L0.590411 18.7712C0.305529 19.6247 0.343862 20.5661 0.697002 21.389C1.05014 22.2118 1.68925 22.8488 2.47412 23.1603L14.6027 27.9568C14.9916 28.1106 15.4046 28.1797 15.8181 28.1601C16.2316 28.1405 16.6375 28.0326 17.0126 27.8425C17.3877 27.6525 17.7247 27.384 18.0043 27.0525C18.2839 26.7209 18.5007 26.3327 18.6423 25.9102L24.9304 7.13908L6.87857 0ZM16.6684 25.1293C16.6212 25.2702 16.549 25.3996 16.4558 25.5101C16.3626 25.6206 16.2502 25.7101 16.1252 25.7735C16.0001 25.8368 15.8648 25.8728 15.727 25.8793C15.5892 25.8859 15.4515 25.8628 15.3219 25.8116L3.19296 21.0151C2.93114 20.9115 2.7179 20.6992 2.60015 20.4249C2.48239 20.1505 2.46977 19.8365 2.56506 19.5521L3.65363 16.3023H19.6251L16.6684 25.1293ZM4.41837 14.0193L6.3615 8.21842L8.74711 9.28577C8.81977 9.79455 9.04556 10.2628 9.38917 10.6174C9.73278 10.9719 10.1748 11.1928 10.6462 11.2454C11.1176 11.2979 11.5918 11.1793 11.9945 10.908C12.3973 10.6367 12.7059 10.2281 12.8722 9.74596C13.0385 9.26383 13.0531 8.73541 12.9136 8.24333C12.7742 7.75125 12.4886 7.32325 12.1015 7.02626C11.7144 6.72926 11.2477 6.58001 10.7743 6.60184C10.3008 6.62367 9.84739 6.81536 9.48486 7.14693L7.08073 6.0713L8.13431 2.92618L22.2373 8.5035L20.3605 14.1063V14.0193H4.41837Z" fill="white" />
                </svg>
                <span class="ms-3">Preparation</span>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <div class="nav-link" >
                <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M23.125 17.745V22.1294C23.125 24.405 21.3056 26.25 19.0606 26.25C16.8156 26.25 14.9962 24.405 14.9962 22.1294L15.0038 8.21437C15.0038 5.74875 13.1844 3.75 10.9394 3.75C8.695 3.75 6.875 5.74875 6.875 8.21437V17.7456" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M26.875 19.375L23.125 15.625L19.375 19.375M26.875 6.70437C26.875 9.48875 23.125 11.875 23.125 11.875C23.125 11.875 19.375 9.48875 19.375 6.70437C19.375 5.755 19.77 4.845 20.4731 4.17312C21.1899 3.49655 22.1393 3.12131 23.125 3.125C24.1106 3.12144 25.06 3.49666 25.7769 4.17312C26.1219 4.49857 26.3972 4.89078 26.586 5.32593C26.7748 5.76107 26.8731 6.23005 26.875 6.70437ZM10.625 21.7044C10.625 24.4887 6.875 26.875 6.875 26.875C6.875 26.875 3.125 24.4887 3.125 21.7044C3.125 20.755 3.52 19.845 4.22312 19.1731C4.93993 18.4965 5.88933 18.1213 6.875 18.125C7.86065 18.1214 8.81 18.4967 9.52687 19.1731C9.87194 19.4986 10.1472 19.8908 10.336 20.3259C10.5248 20.7611 10.6231 21.2301 10.625 21.7044Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M23.125 8.125C23.8154 8.125 24.375 7.56536 24.375 6.875C24.375 6.18464 23.8154 5.625 23.125 5.625C22.4346 5.625 21.875 6.18464 21.875 6.875C21.875 7.56536 22.4346 8.125 23.125 8.125Z" fill="white" />
                    <path d="M6.875 23.125C7.56536 23.125 8.125 22.5654 8.125 21.875C8.125 21.1846 7.56536 20.625 6.875 20.625C6.18464 20.625 5.625 21.1846 5.625 21.875C5.625 22.5654 6.18464 23.125 6.875 23.125Z" fill="white" />
                </svg>
                <span class="ms-3">Production</span>
            </div>
        </div> 
        <div class="nav-item px-3">
            <div class="nav-link">
                <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M17.3437 27.5H12.6562C12.3437 27.5 12.0729 27.3958 11.8437 27.1875C11.6146 26.9792 11.4792 26.7188 11.4375 26.4063L11.0625 23.5C10.7917 23.3958 10.5367 23.2708 10.2975 23.125C10.0575 22.9792 9.82291 22.8229 9.59374 22.6563L6.87499 23.7813C6.58333 23.8854 6.29166 23.8958 5.99999 23.8125C5.70833 23.7292 5.47916 23.5521 5.31249 23.2813L2.99999 19.25C2.83333 18.9792 2.78124 18.6875 2.84374 18.375C2.90624 18.0625 3.06249 17.8125 3.31249 17.625L5.65624 15.8438C5.63541 15.6979 5.62499 15.5571 5.62499 15.4213V14.5775C5.62499 14.4425 5.63541 14.3021 5.65624 14.1563L3.31249 12.375C3.06249 12.1875 2.90624 11.9375 2.84374 11.625C2.78124 11.3125 2.83333 11.0208 2.99999 10.75L5.31249 6.71875C5.45833 6.42708 5.68208 6.24458 5.98374 6.17125C6.28624 6.09875 6.58333 6.11458 6.87499 6.21875L9.59374 7.34375C9.82291 7.17708 10.0625 7.02083 10.3125 6.875C10.5625 6.72917 10.8125 6.60417 11.0625 6.5L11.4375 3.59375C11.4792 3.28125 11.6146 3.02083 11.8437 2.8125C12.0729 2.60417 12.3437 2.5 12.6562 2.5H17.3437C17.6562 2.5 17.9271 2.60417 18.1562 2.8125C18.3854 3.02083 18.5208 3.28125 18.5625 3.59375L18.9375 6.5C19.2083 6.60417 19.4637 6.72917 19.7037 6.875C19.9429 7.02083 20.1771 7.17708 20.4062 7.34375L23.125 6.21875C23.4167 6.11458 23.7083 6.10417 24 6.1875C24.2917 6.27083 24.5208 6.44792 24.6875 6.71875L27 10.75C27.1667 11.0208 27.2187 11.3125 27.1562 11.625C27.0937 11.9375 26.9375 12.1875 26.6875 12.375L24.3437 14.1563C24.3646 14.3021 24.375 14.4425 24.375 14.5775V15.4213C24.375 15.5571 24.3542 15.6979 24.3125 15.8438L26.6562 17.625C26.9062 17.8125 27.0625 18.0625 27.125 18.375C27.1875 18.6875 27.1354 18.9792 26.9687 19.25L24.6562 23.25C24.4896 23.5208 24.2554 23.7033 23.9537 23.7975C23.6512 23.8908 23.3542 23.8854 23.0625 23.7813L20.4062 22.6563C20.1771 22.8229 19.9375 22.9792 19.6875 23.125C19.4375 23.2708 19.1875 23.3958 18.9375 23.5L18.5625 26.4063C18.5208 26.7188 18.3854 26.9792 18.1562 27.1875C17.9271 27.3958 17.6562 27.5 17.3437 27.5ZM15.0625 19.375C16.2708 19.375 17.3021 18.9479 18.1562 18.0938C19.0104 17.2396 19.4375 16.2083 19.4375 15C19.4375 13.7917 19.0104 12.7604 18.1562 11.9062C17.3021 11.0521 16.2708 10.625 15.0625 10.625C13.8333 10.625 12.7967 11.0521 11.9525 11.9062C11.1092 12.7604 10.6875 13.7917 10.6875 15C10.6875 16.2083 11.1092 17.2396 11.9525 18.0938C12.7967 18.9479 13.8333 19.375 15.0625 19.375ZM15.0625 16.875C14.5417 16.875 14.0992 16.6925 13.735 16.3275C13.37 15.9633 13.1875 15.5208 13.1875 15C13.1875 14.4792 13.37 14.0367 13.735 13.6725C14.0992 13.3075 14.5417 13.125 15.0625 13.125C15.5833 13.125 16.0262 13.3075 16.3912 13.6725C16.7554 14.0367 16.9375 14.4792 16.9375 15C16.9375 15.5208 16.7554 15.9633 16.3912 16.3275C16.0262 16.6925 15.5833 16.875 15.0625 16.875ZM13.75 25H16.2187L16.6562 21.6875C17.3021 21.5208 17.9012 21.2758 18.4537 20.9525C19.0054 20.63 19.5104 20.2396 19.9687 19.7813L23.0625 21.0625L24.2812 18.9375L21.5937 16.9063C21.6979 16.6146 21.7708 16.3071 21.8125 15.9838C21.8542 15.6613 21.875 15.3333 21.875 15C21.875 14.6667 21.8542 14.3383 21.8125 14.015C21.7708 13.6925 21.6979 13.3854 21.5937 13.0938L24.2812 11.0625L23.0625 8.9375L19.9687 10.25C19.5104 9.77083 19.0054 9.36958 18.4537 9.04625C17.9012 8.72375 17.3021 8.47917 16.6562 8.3125L16.25 5H13.7812L13.3437 8.3125C12.6979 8.47917 12.0992 8.72375 11.5475 9.04625C10.995 9.36958 10.4896 9.76042 10.0312 10.2188L6.93749 8.9375L5.71874 11.0625L8.40624 13.0625C8.30208 13.375 8.22916 13.6875 8.18749 14C8.14583 14.3125 8.12499 14.6458 8.12499 15C8.12499 15.3333 8.14583 15.6563 8.18749 15.9688C8.22916 16.2813 8.30208 16.5938 8.40624 16.9063L5.71874 18.9375L6.93749 21.0625L10.0312 19.75C10.4896 20.2292 10.995 20.63 11.5475 20.9525C12.0992 21.2758 12.6979 21.5208 13.3437 21.6875L13.75 25Z" fill="white" />
                </svg>
                <span class="ms-3">Settings</span>
            </div>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
