@page "/"
<div class="d-flex flex-column justify-content-around" style="height:94vh">
    <div class="d-flex align-items-center flex-column">
        <PageTitle>WareHouse Stock</PageTitle>
        <h1 class="darkblue">Raw Materials Department</h1>
    </div>
    <div class="d-flex justify-content-end">
        <img src="/images/R 1.png" />
    </div>
</div>


