@page "/Report"
<div class="m-3">
    <h3>Warehouse Stock report</h3>
    <input type="date" class="form-control" />

    <table class="table mt-3 table-striped">
        <thead>
            <tr>
                <th scope="col">Item</th>
                <th scope="col">IN (Incoming)</th>
                <th scope="col"> IN (Return) </th>
                <th scope="col">Out(Transfer)</th>
                <th scope="col">Out (Waste)</th>
                <th scope="col"> Adj (+/-)</th>
                <th scope="col">Balance</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>5</td>
                <td>5</td>
                <td>5</td>
                <td>5</td>
                <td>5</td>
                <td>50</td>
            </tr>
        </tbody>
    </table>
</div>
@code {

}
