@page "/Report"
<div class="m-3">
    <h2 class="darkblue text-center">Preparation Department</h2>
    <div class="d-flex align-items-center justify-content-between">
        <div>
            <h3 class="mb-0">Warehouse Stock Report</h3>
            <p>@DateTime.Now.ToString("dddd, MMMM dd, yyyy")</p>
        </div>
        <div>
            <input class="form-control" type="date" placeholder="Select day" />
        </div>
    </div>

    <table class="table mt-3 table-striped warehouse-table text-center">
        <thead>
            <tr>
                <th scope="col">Item</th>
                <th scope="col">IN (Incoming)</th>
                <th scope="col"> IN (Return) </th>
                <th scope="col">Out(Transfer)</th>
                <th scope="col">Out (Waste)</th>
                <th scope="col"> Adj (+/-)</th>
                <th scope="col">Balance</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>5</td>
                <td>5</td>
                <td>5</td>
                <td>5</td>
                <td>5</td>
                <td>50</td>
            </tr>
            <tr>
                <th scope="row">1</th>
                <td>5</td>
                <td>5</td>
                <td>5</td>
                <td>5</td>
                <td>5</td>
                <td>50</td>
            </tr>
           <tr>
                <th scope="row">1</th>
                <td>5</td>
                <td>5</td>
                <td>5</td>
                <td>5</td>
                <td>5</td>
                <td>50</td>
            </tr>
             <tr>
                <th scope="row">1</th>
                <td>5</td>
                <td>5</td>
                <td>5</td>
                <td>5</td>
                <td>5</td>
                <td>50</td>
            </tr>
            <tr>
                <th scope="row">1</th>
                <td>5</td>
                <td>5</td>
                <td>5</td>
                <td>5</td>
                <td>5</td>
                <td>50</td>
            </tr>
            <tr>
                <th scope="row">1</th>
                <td>5</td>
                <td>5</td>
                <td>5</td>
                <td>5</td>
                <td>5</td>
                <td>50</td>
            </tr>
        </tbody>
    </table>
    <hr />
    <div class="d-flex justify-content-end">
        <div class="balance-div">
            Default Balance= (IN+IN) - (OUT+OUT)
        </div>
    </div>
</div>
@code {

}
